*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
Client/.idea
Client/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/.metadata/
Client/build/android-profile/*
/.recommenders/
.metadata/
.recommenders/
