<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thetytoalba.bounroomallocator">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/boun_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/boun_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".ManagerActivity">
        </activity>
        <activity android:name=".StudentActivity">
        </activity>
        <activity android:name=".TeacherActivity">
        </activity>
        <activity android:name=".AddBuildingActivity">
        </activity>
        <activity android:name=".AddRoomActivity">
        </activity>
    </application>

</manifest>